
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

body {
    background: #e1e5e8;
        background-color: rgb(225, 229, 232);
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
}0

.cl{
	font-size: 0;
	line-height: 0;
	clear: both;
	display: block;
	height: 0;
}

#page {
	width: 874px;
	margin: 0;
    background-color: white;
	padding: 0 28px;
    padding-top: 0px;
    padding-right: 28px;
    padding-bottom: 0px;
    padding-left: 28px;
	height: auto
	margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

h1 {
	background-color: lightblue;

}

ul {
/*  
    Set margin: 0; and padding: 0; to remove browser default settings
    list-style-type: none;  Removes the bullets. A navigation bar does not need list markers
	position: fixed; Make the navigation bar stay at the top or the bottom of the page
*/
    list-style-type: none;
	position: relative;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: #00B7E4;
	top: 0;
	left: 0;
	right: 0;
}

li {
    float: left;
}


li a {
/* 
    style the <a> elements inside the list 
    Displaying the links as block elements makes the whole link area clickable (not just the text)
*/
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #15649C;
}

li a:hover {
    background-color: #111;
}